# python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# venv
venv/
env/
.env/

# scrapy
.scrapy/

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# log
*.log

# chromedriver
chromedriver*
geckodriver*
